<div>
  <h3><a href="/candies/<%=candy.id %>"><%= candy.name%></a></h3>
  <p>Type(s):</p>
  <ul>
    <% if (candy.types) { %> <% candy.types.forEach(type => { %>
    <li><%= type %></li>
    <% }); %> <%}%>
  </ul>
  <p><%= candy.company%></p>
  <p>Price: $<%= candy.price%></p>
  <p>Quantity: <%= candy.quantity%></p>
</div>
