<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candy Store</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('../navbar') %>
    <div>
      <h3><%= candyDetails.name%></h3>
      <p>Type(s):</p>
      <ul>
        <% candyDetails.types.forEach(type => { %>
        <li><%= type %></li>
        <% }); %>
      </ul>
      <p><%= candyDetails.company%></p>
      <p>Quantity: <%= candyDetails.quantity %></p>
      <p>Price: <%= candyDetails.price %></p>
      <form action="/candies/update/<%=candyDetails.id%>">
        <input type="submit" value="Update" />
      </form>
      <form action="/candies/delete/<%=candyDetails.id%>">
        <input type="submit" value="Delete" />
      </form>
    </div>
  </body>
</html>
