<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candy Store</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('../navbar') %>
    <div>
      <form method="POST" action="/candies/update/<%=candy.id%>">
        <h2>New Candy</h2>
        <%- include("../partials/errors.ejs") %>
        <label for="name">Name: </label><br />
        <input
          type="text"
          id="name"
          name="name"
          maxlength="20"
          value="<%= candy.name %>"
          required
        /><br />

        <label for="types">Types: </label><br />
        <select id="types" name="types" multiple required>
          <% if (types) { %> <% types.forEach(type => { %>
            <option value="<%= type.type %>" <%= candy.types.includes(type.type) ? 'selected' : '' %>>
                <%= type.type %>
              </option>
          <% }); %> <% } %></select
        ><br />

        <label for="company">Company: </label><br />
        <input
          type="text"
          id="company"
          name="company"
          maxlength="20"
          value="<%= candy.company %>"
          required
        /><br />

        <label for="quantity">Quantity: </label><br />
        <input
          type="number"
          id="quantity"
          name="quantity"
          min="0"
          value="<%= candy.quantity %>"
          required
        /><br />

        <label for="price">Price: </label><br />
        <input
          type="number"
          id="price"
          name="price"
          step="any"
          min="0"
          value="<%= candy.price %>"
          required
        /><br />

        <input type="submit" value="Update" />
      </form>
    </div>
  </body>
</html>
